.lilo{
    font-size: 100%;
    background-color: aqua;
    border-color: skyblue;
    border-width: 15px;
    border-style: groove;
    border-radius: 15px 50px 5px 100px;
}
.adormecida{
    font-style: oblique;
    background-color: rosybrown;
    border-color: pink;
    border-width: 20px;
    border-style: solid;
    border-radius: 15px 50px 5px 100px;
}
nav a{
    text-transform: uppercase;
    text-align: center;
    color: darkorchid;
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: pink;
    border-width: 10px;
    border-style: solid; 
    background-color: purple;
}
nav a:hover {
    color: purple;
    text-decoration: underline;
}
