.textowalt{
    font-size: medium;
    text-align: center;
    font-style: italic;
    color: black;
}
.Walt{
    width: 40%;
    margin-left: center;
}
.h1{
 background-color: blue;
text-align: center;
 color: blueviolet;
}
.neve{
font-size: medium;
text-align: center;
}
.branca{
    margin-left: center;
    background-color: red blue;
    text-align: center;
}
h2{
    background-color: blue;
    text-aling: center;
}
h3{
    background-color: crimson;
    text-align: center;
    font-style: italic;
}
.golfinho{
    display:inline-block;
    padding: 40%;
}
.Rei{
    background-color: yellow;
    width: 50%;
    text-align: center;
}
.lista{
    border-color: blue;
    border-width: 20px;
    border-style: solid;
    border-radius: 15px 50px 5px 100px;
}
