.textowalt{
    font-size: medium;
    text-align: center;
    font-style: italic;
    color: black;
}
.Walt{
    width: 40%;
    margin-left: center;
    background-color: black;
}
.h1{
 background-color: blue;
text-align: center;
 color: blueviolet;
}
.neve{
font-size: medium;
text-align: center;
}
.brancadeneve{
    background-color: red;
    text-align: center;
}
h2{
    background-color: blue;
    text-align: center;
}
h3{
    background-color: crimson;
    text-align: center;
    font-style: italic;
}
.golfinho{
    display:inline-block;
    padding: 40%;
}
.Reileao{
    background-color: yellow;
    width: 50%;
    text-align: center;
}
.lista{
    border-color: blue;
    border-width: 20px;
    border-style: solid;
    border-radius: 15px 50px 5px 100px;
}
nav a{
    text-transform: uppercase;
    text-align: center;
    color: darkorchid;
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: pink;
    border-width: 10px;
    border-style: solid; 
    backgound-color: pink;
}
nav a:hover {
    color: purple;
    text-decoration: underline;
}
