
.capivara{
    font-size: medium;
    font-style: italic;
}
.pinguim{
    width: 100%;
}
.h2{
 background-color: aqua;
}
.macacoprego{
font-size: 50%;
}
.macaquinho{
    margin-left: 20%;
}
h2{
    background-color: blue;
}
.golfinho{
    display:inline-block;
    padding: 40%;
}
.Rei{
    background-color: darkgoldenrod;
    width: 50%;
}

